<%- include('./partials/header.ejs') %>
<h1 class="about-header">About Us</h1>
<div class="main-content">
    <div class="intro">
      <h3>
        Got bored of your outfts? Want to try something new ?<br />
        Well you're at the right place, where people trade their outfits curated
        by themselves.
        Thrifstore is a place Where people go to find or trade the clothes curated by themselves. 
      </h3>
    </div>
</div>
<%- include('./partials/footer.ejs') %>
