<%- include('./partials/header.ejs') %>

<h1 class="contact-header">Contact Us</h1>
<div class="main-content">
    <div class="intro">
      <h3>
          Email: reachthrifstore@gmail.com<br>
          Phone: 1800-250-7896
      </h3>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
