<%- include('./partials/header.ejs') %>
<div class="main-content">
  <div class="intro">
    <h1>Welcome to ThrifStore</h1>
    <h3>
      Got bored of your outfts? Want to try something new ?<br />
      Well you're at the right place, where people trade their outfits curated
      by themselves.
      <!-- Where people go to find, trade or give-away furniture.<br />Check out -->
      <!-- our new section on refurbished furniture. -->
    </h3>
  </div>
  <div class="homeimage">
    <img src="/images/homeImg.jpg" alt="home image" />
  </div>
</div>
<%- include('./partials/footer.ejs') %>
