.main-content {
  margin: 20px auto 75px auto;
  display: flex;
  justify-content: space-between;
  line-height: 300%;
  max-width: 1200px;
}

.main-content h1 {
  font-size: 38px;
}

.main-content h3 {
  font-size: 25px;
  font-weight: lighter;
}

.main-content .homeimage img {
  width: 450px;
  border: 2px solid rgb(100, 100, 100);
  padding: 10px;
  height: auto;
}

.success {
  background: rgba(108, 192, 112, 0.7);
  color: #fff;
  width: 70%;
  text-align: center;
  padding: 10px 10px;
}

.error {
  background: rgba(255, 102, 51, 0.7);
  color: #fff;
  width: 70%;
  text-align: center;
  padding: 10px 10px;
}
